<section ng-controller="adminManageCitiesController as admincity" ng-init="admincity.initCity();">
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Add/Edit City 
            </h1>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i>  <a href="/admin">Dashboard</a>
                </li>
                <li>
                    <i class="fa fa-file"></i>  <a href="/admin/listcity">List City</a>
                </li>
                <li class="active">
                    <i class="fa fa-pencil-square-o"></i> Add/Edit City
                </li>
            </ol>
        </div>
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-8">
            <ul>
                <li>You can find the geocode of city(Bounding Box) form http://www.mapdevelopers.com/geocode_bounding_box.php.</li> 
                <li>Put only 2 decimal place.</li>
            </ul>
            <form role="form" name="cityform" ng-submit="admincity.updateCreateCity();">
                <input type="hidden" ng-model="admincity.city._id">
                <div class="form-group" ng-class="{ 'has-error': cityform.name.$dirty && cityform.name.$error.required }">
                    <label>Name</label>
                    <input class="form-control" name="name" id="name" placeholder="Name" ng-model="admincity.city.name" required>
                    <span ng-show="cityform.name.$dirty && cityform.name.$error.required" class="help-block">Name is required</span>
                </div>
                <div class="form-group" ng-class="{ 'has-error': cityform.west_longitude.$dirty && cityform.west_longitude.$error.required }">
                    <label>West Longitude</label>
                    <input class="form-control" name="west_longitude" id="west_longitude" placeholder="West Longitude" ng-model="admincity.city.west_longitude" required>
                    <span ng-show="cityform.west_longitude.$dirty && cityform.west_longitude.$error.required" class="help-block">West Longitude is required</span>
                </div>
                <div class="form-group" ng-class="{ 'has-error': cityform.south_latitude.$dirty && cityform.south_latitude.$error.required }">
                    <label>South Latitude</label>
                    <input class="form-control" name="south_latitude" id="south_latitude" placeholder="South Latitude" ng-model="admincity.city.south_latitude" required>
                    <span ng-show="cityform.south_latitude.$dirty && cityform.south_latitude.$error.required" class="help-block">South Latitude is required</span>
                </div>
                <div class="form-group" ng-class="{ 'has-error': cityform.east_longitude.$dirty && cityform.east_longitude.$error.required }">
                    <label>East Longitude</label>
                    <input class="form-control" name="east_longitude" id="east_longitude" placeholder="East Longitude" ng-model="admincity.city.east_longitude" required>
                    <span ng-show="cityform.east_longitude.$dirty && cityform.east_longitude.$error.required" class="help-block">East Longitude is required</span>
                </div>
                <div class="form-group" ng-class="{ 'has-error': cityform.north_latitude.$dirty && cityform.north_latitude.$error.required }">
                    <label>North Latitude</label>
                    <input class="form-control" name="north_latitude" id="north_latitude" placeholder="North Latitude" ng-model="admincity.city.north_latitude" required>
                    <span ng-show="cityform.north_latitude.$dirty && cityform.north_latitude.$error.required" class="help-block">North Latitude is required</span>
                </div>


                <div class="form-group" ng-class="{ 'has-error': cityform.consumer_key.$dirty && cityform.consumer_key.$error.required }">
                    <label>Consumer Key</label>
                    <input class="form-control" name="consumer_key" id="consumer_key" placeholder="Consumer Key" ng-model="admincity.city.consumer_key" required>
                    <span ng-show="cityform.consumer_key.$dirty && cityform.consumer_key.$error.required" class="help-block">Consumer Key is required</span>
                </div>
                <div class="form-group" ng-class="{ 'has-error': cityform.consumer_secret.$dirty && cityform.consumer_secret.$error.required }">
                    <label>Consumer Secret</label>
                    <input class="form-control" name="consumer_secret" id="consumer_secret" placeholder="Consumer Secret" ng-model="admincity.city.consumer_secret" required>
                    <span ng-show="cityform.consumer_secret.$dirty && cityform.consumer_secret.$error.required" class="help-block">Consumer Secret is required</span>
                </div>
                <div class="form-group" ng-class="{ 'has-error': cityform.access_token_key.$dirty && cityform.access_token_key.$error.required }">
                    <label>Access Token Key</label>
                    <input class="form-control" name="access_token_key" id="access_token_key" placeholder="Access Token Key" ng-model="admincity.city.access_token_key" required>
                    <span ng-show="cityform.access_token_key.$dirty && cityform.access_token_key.$error.required" class="help-block">Access Token Key is required</span>
                </div>
                <div class="form-group" ng-class="{ 'has-error': cityform.access_token_secret.$dirty && cityform.access_token_secret.$error.required }">
                    <label>Access Token Secret</label>
                    <input class="form-control" name="access_token_secret" id="access_token_secret" placeholder="Access Token Secret" ng-model="admincity.city.access_token_secret" required>
                    <span ng-show="cityform.access_token_secret.$dirty && cityform.access_token_secret.$error.required" class="help-block">Access Token Secret is required</span>
                </div>

                <button type="submit" class="btn btn-success" ng-disabled="cityform.$invalid || admincity.dataLoading">Submit</button>
                <img ng-if="admincity.dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />

            </form>
        </div>
    </div>
    <!-- /.row -->
</section>
