<div class="row" ng-controller="AdminDashboardController as admindb">
    <div class="col-lg-12">
        <h1 class="page-header">
            Dashboard
        </h1>
        
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-dashboard"></i><a href="/admin">Dashboard</a>
            </li>
        </ol>
    </div>
     <div class="row">
         <div class="col-md-12">
             <h3>Welcome to Admin Dashboard</h3>
         </div>
     </div>
</div>