<section ng-controller="adminCmsController as admincms" ng-init="admincms.editCms();">
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Edit 
            </h1>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i>  <a href="/admin">Dashboard</a>
                </li>
                <li>
                    <i class="fa fa-file"></i>  <a href="/admin/listcms">Cms Page</a>
                </li>
                <li class="active">
                    <i class="fa fa-pencil-square-o"></i> Edit Cms
                </li>
            </ol>
        </div>
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-8">
            <div ng-show="admincms.message" class="alert alert-success">{{admincms.message}}</div>
            <form role="form" name="cmsform" ng-submit="admincms.updateCms();">
                <input type="hidden" ng-model="admincms.cmsData._id">
                <div class="form-group">
                    <label>Name</label>
                    <input class="form-control" placeholder="Name" ng-model="admincms.cmsData.name">
                </div>
                <div class="form-group">
                    <label>Content</label>
                    <wysiwyg textarea-id="question" 
                             textarea-class="form-control"  
                             textarea-height="180px" 
                             textarea-name="textareaQuestion"
                             textarea-required 
                             ng-model="admincms.cmsData.content" 
                             enable-bootstrap-title="true"
                             textarea-menu="admincms.menu"
                             disabled="admincms.disabled">
                    </wysiwyg>

                </div>
                <button type="submit" class="btn btn-success">Submit Button</button>
            </form>
        </div>
    </div>
    <!-- /.row -->
</section>
