<section ng-controller="adminManageCitiesController as admincity" ng-init="admincity.initCityList();">
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                List of Cities
            </h1>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i>  <a href="/admin">Dashboard</a>
                </li>
                <li class="active">
                    <i class="fa fa-map-marker"></i> City list
                </li>
            </ol>
        </div>
    </div>
    <!-- /.row -->

    <div class="row">
        <div class="col-lg-12">
            <div class="table-responsive">
                <table class="table table-bordered table-hover table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>West Longitude</th>
                            <th>South Latitude</th>
                            <th>East Longitude</th>
                            <th>North Latitude</th>
                            <th>Type</th>
                            <th>Free Access</th>
                            <th>Crawler Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="(key,val) in admincity.cities track by $index">
                            <td>{{val.name}}</td>
                            <td>{{val.west_longitude}}</td>
                            <td>{{val.south_latitude}}</td>
                            <td>{{val.east_longitude}}</td>
                            <td>{{val.north_latitude}}</td>
                            <td>
                                <span ng-if="val.isDefault">Default City</span>
                                <a href="javascript:void(0);" ng-if="!val.isDefault" ng-click="admincity.changeToDefaultCity(val._id);">Normal</a>
                            </td>
                            <td>
                                <a href="javascript:void(0);" ng-if="val.allowFreeAccess" ng-click="admincity.inactiveFreeAccess(val._id);">Authorised</a>
                                <a href="javascript:void(0);" ng-if="!val.allowFreeAccess" ng-click="admincity.activeFreeAccess(val._id);">Unauthorised</a>
                            </td>
                            <td>
                                <a href="javascript:void(0);" ng-if="val.isCrawler" ng-click="admincity.inactiveCrawler(val._id);">Active</a>
                                <a href="javascript:void(0);" ng-if="!val.isCrawler" ng-click="admincity.activeCrawler(val._id);">Inactive</a>
                            </td>
                            <td>
                                <a title="Edit" href="/admin/managecity/{{val._id}}"><i class="fa fa-pencil-square-o"></i></a>
                                <a title="Delete City" href="javascript:void(0);" ng-click="admincity.deleteCity(val._id);"><i class="fa fa-trash"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- /.row -->

</section>