<section ng-controller="adminManageCrawlerController as crawler" ng-init="crawler.getSetting();">
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Manage Crawler 
            </h1>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i>  <a href="/admin">Dashboard</a>
                </li>
                <li class="active">
                    <i class="fa fa-repeat"></i> Manage Crawler
                </li>
            </ol>
        </div>
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-md-6">
            <div ng-show="crawler.message" class="alert alert-success">{{crawler.message}}</div>
            <div ng-show="crawler.error" class="alert alert-success">{{crawler.error}}</div>
            <form role="form" name="crawlerform" ng-submit="crawler.updateSetting();">
                <input type="hidden" ng-model="crawler.setting._id">
                <div class="form-group">
                    <label>Auto Delete Crawler</label>
                    <input class="form-control" placeholder="No of day" ng-model="crawler.setting.value">
                </div>
                <button type="submit" class="btn btn-success">Submit</button>
            </form>
        </div> 
        <div class="col-md-6">
            <div ng-show="crawler.message1" class="alert alert-success">{{crawler.message1}}</div>
            <div ng-show="crawler.status" class="alert alert-info">{{crawler.status}}</div>
            <div ng-show="crawler.error1" class="alert alert-success">{{crawler.error1}}</div>
            <button class="btn btn-success" ng-click="crawler.deleteCrawlerData()">Delete Crawler Data</button>
            <button class="btn btn-success" ng-click="crawler.restartCrawler()">Restart Crawler</button>
            <button class="btn btn-success" ng-click="crawler.startCrawler()">Start Crawler</button>
            <button class="btn btn-success" ng-click="crawler.stopCrawler()">Stop Crawler</button>
    <!--        <button class="btn btn-success" ng-click="crawler.statusCrawler()">Get the Crawler Status</button>-->
        </div>
    </div>
    <!-- /.row -->
</section>
