<map zoom="{{zoom}}" center="[{{center[0]}},{{center[1]}}]" id="tweeetMap" style="height:463px;">
    <marker ng-repeat="p in positions" position="[{{p.latitude}},{{p.longitude}}]" title="pos: {{p.latitude}},{{p.longitude}}" on-click="showInfoWindow(event, p, positions)"></marker>
</map>