<!-- Brand and toggle get grouped for better mobile display -->
<div class="navbar-header" ng-controller="adminMainController as adminmain">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/admin">Admin Panel</a>
</div>
<!-- Top Menu Items -->
<ul class="nav navbar-right top-nav" ng-controller="adminMainController as adminmain">
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> {{adminmain.loginData.name}} <b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li>
                <a href="/admin/profile"><i class="fa fa-fw fa-user"></i> Profile</a>
            </li>
            <li>
                <a href="/admin/settings"><i class="fa fa-fw fa-gear"></i> Settings</a>
            </li>
            <li class="divider"></li>
            <li>
                <a ng-click="adminmain.logout();"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
            </li>
        </ul>
    </li>
</ul>
