<!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
<div class="collapse navbar-collapse navbar-ex1-collapse" ng-controller="adminMainController as adminmain">
    <ul class="nav navbar-nav side-nav">
        <li class="active">
            <a ng-href="/admin"><i class="fa fa-fw fa-dashboard"></i>Dashboard</a>
        </li> 
        <li>
            <a ng-href="/" target="_self"><i class="fa fa-globe"></i>Visit Site</a>
        </li>
        <li>
            <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-map-marker"></i> Manage City <i class="fa fa-fw fa-caret-down"></i></a>
            <ul id="demo" class="collapse">
                <li>
                    <a href="/admin/listcity">View City</a>
                </li>
                <li>
                    <a href="/admin/managecity">Add City</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="/admin/listcms"><i class="fa fa-file"></i> Manage CMS</a>
        </li>
        <!--        <li>
                    <a href="charts.html"><i class="fa fa-file"></i> Manage Email Templete</a>
                </li>-->
        <li>
            <a href="/admin/managecrawler"><i class="fa fa-repeat"></i> Manage Crawler</a>
        </li>
    </ul>
</div>
<!-- /.navbar-collapse -->