<!--footer section start -->
<footer id="footer-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="foot-box">
                    <h2>Company</h2>
                    <!-- <p>Etiam ac felis eget purus auctor ullamcorper quis ut lacus. Proin egestas congue ultrices. Vivamus id condimentum lacus.</p> -->
                    <p class="foot-call"><a href="tel:+33695170144"><img src="images/call-icon.png" alt="Phone" /> +33695170144</a></p>
                    <p class="foot-mail"><a href="mailto:contact@profilyser.com"><img src="images/mail-icon.png" alt="Email" /> contact@profilyser.com</a></p>
                    <p>
                        <div id="SkypeButton_Call_profilyser_1" style="margin: -18px 0 0 -26px;">
                          <script type="text/javascript">
                            Skype.ui({
                              "name": "dropdown",
                              "element": "SkypeButton_Call_profilyser_1",
                              "participants": ["profilyser"],
                              "imageSize": 24
                            });
                          </script>
                        </div>
                    </p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="foot-box">
                    <h2>Product</h2>
                    <ul>
                        <li><a href="/cms/how-it-works">How It Works</a></li>
                        <!-- <li><a href="/">Pricing</a></li>
                        <li><a href="/">How It Works</a></li> -->
                    </ul>
                </div>
            </div>
            <!-- <div class="col-sm-3">
                <div class="foot-box">
                    <h2>Support</h2>
                    <ul>
                        <li><a href="/">Support Center</a></li>
                        <li><a href="/">Contact Us</a></li>
                        <li><a href="/">Partners</a></li>
                        <li><a href="/">Nimble API</a></li>
                        <li><a href="/">Custom Links</a></li>
                        <li><a href="/">News</a></li>
                    </ul>
                </div>
            </div> -->
            <div class="col-sm-4">
                <div class="foot-box">
                    <h2>Social Links</h2>
                    <div class="social-links">
                        <a href="https://www.facebook.com/profilyser" target="_new" title="Facebook"><img src="images/fb.png" alt="Social" /></a>
                        <a href="https://twitter.com/profilyser" target="_new" title="Twitter"><img src="images/tw.png" alt="Social" /></a>
                        <a href="https://plus.google.com/b/118027376685741927007/118027376685741927007/about?hl=fr&pageId=118027376685741927007" target="_new" title="Goole+"><img src="images/gp.png" alt="Social" /></a>
                        <a href="https://www.youtube.com/channel/UCYKQzmVYphZddbGKZPoR2Kg" target="_new" title="Youtube"><img src="images/yt.png" alt="Social" /></a>
                        <a href="https://www.linkedin.com/company/profilyser" target="_new" title="linkedIn"><img src="images/in.png" alt="Social" /></a>
                        <a href="https://angel.co/profilyser" target="_new" title="Angel"><img src="images/angel.png" alt="Social" /></a>
                        <a href="https://www.crunchbase.com/organization/profilyser#" target="_new" title="Crunchbase"><img src="images/cb.png" alt="Social" /></a>
                        <!-- <a href="skype:live:profilyser?call" title="Skype" target="_new"><img src="images/skype.png" alt="Social" /></a> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-sm-5">
                    &copy; Profilyser 2015 
                </div>
                <div class="col-sm-7 text-right">
                    <!-- <a href="/">Site Map</a>   |    --><a href="/cms/privacy-policy">Privacy Policy</a>   |   <a href="/cms/terms-of-conditions">Terms of Service</a>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- footer section end -->