<!-- Navigation -->
    <nav class="navbar top-nav navbar-fixed-top" role="navigation" ng-controller="headerController as header">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><img src="images/logo.png" alt="Logo" /></a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right menu-up">
            <li>
              <a href="/" ng-class="{ active: header.isCurrentPath('/') }">Home</a>
            </li>
            <li>
              <a href="/product" ng-class="{ active: header.isCurrentPath('/product') }">Demo</a>
            </li>
            <!-- <li>
              <a href="/" ng-class="{ active: header.isCurrentPath('/tutorial') }">Tutorial</a>
            </li> -->
            <li>
              <a href="/contact" ng-class="{ active: header.isCurrentPath('/contact') }">Contact</a>
            </li>
          </ul>
        </div>
        <!-- /.navbar-collapse -->
      </div>
      <!-- /.container -->
    </nav>
    <!-- Navigation end -->