<!-- sidebar -->
<div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
    <ul class="nav">
        <li class="active"><a href="/user/editprofile">Edit Account</a></li>
        <li><a href="/user/linktwitter">Link Twitter Account</a></li>
        <li><a href="/user/changepassowrd">Change Password</a></li>
        <li><a href="javascript:void(0)" ng-click="db.logout();">Logout</a></li>              
    </ul>
</div>
