<!-- Contact Us section start -->
<section id="contact-us-section" ng-controller="HomeController as pc" ng-init="pc.initcms()">
    <div class="container">
        <div class="row">
            <h3>{{pc.cmsContent.name}}</h3>
            <div class="contact-us-wrap cms-wrap" ng-bind-html="pc.cmsContent.content | htmlfilter"></div>
        </div>
    </div>
</section>
<!-- Contact Us section end -->