<section ng-cotroller="HomeController as home">
    <!-- Banner section Start -->
    <section id="home-banner-section">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h2>When <b>location</b> does matter</h2>
                    <h3>The next generation social influence tool bringing together physical and digital worlds</h3>
                </div>
                <div class="col-sm-12 text-center">
                    <a href="/product" class="btn btn-default try-free-btn">TRY NOW</a>
                </div>
            </div>
        </div>
    </section>
    <!-- Banner section End -->
    <!-- How it Works section start -->
    <section id="how-it-works-section">
        <div class="container">
            <div class="row">
                <h2 class="section-title">How it works</h2>
                <div class="col-sm-12">
                    <img src="images/how-it-works.png" alt="How it Works" />
                </div>
            </div>
        </div>
    </section>
    <!-- How it Works section end -->
    <div class="algorithm-text">
        <div class="container">
            <div class="row">
                <div class="hashtagify_testimonial">
                    <blockquote>
                        Think twice before you speak, because your words and influence will plant the seed of either success or failure in the mind of another.
                    </blockquote>
                    <em>- Napoleon Hill</em>
                </div>
            </div>
        </div>
    </div>
    <!-- Algorithem section start -->
    <section id="algorithm-section">
        <div class="container">
            <div class="row">
                <h2 class="section-title">Find Right Influencers</h2>
                <div class="right-inf-wrap">
                    <div class="col-sm-4">
                        <div class="inf-icon-wrap">
                            <!--  <i class="fa fa-star"></i>  -->
                            <img src="images/star.png" alt="Famous" />
                        </div>
                        <h3>Famous</h3>
                        <p>The most known and followed</p>
                    </div>
                    <div class="col-sm-4">
                        <div class="inf-icon-wrap">
                            <!-- <i class="fa fa-balance-scale"></i> -->
                            <img src="images/balance.png" alt="Balanced" />
                        </div>
                        <h3>Balanced</h3>
                        <p>Not yet famous, but engaging</p>
                    </div>
                    <div class="col-sm-4">
                        <div class="inf-icon-wrap">
                            <!--   <i class="fa fa-line-chart"></i> -->
                            <img src="images/arrow.png" alt="Promising" />
                        </div>
                        <h3>Promising</h3>
                        <p>The most engaging and fast growing</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Algorithem section end -->
    <!-- Explore location section start -->
    <section class="explore-section">
        <div class="vdo-wrap">
            <video autoplay="" loop="" muted="" style="width: 100%;">
                <source src="videos/file.mp4" type="video/mp4">
                <source src="videos/file.webm" type="video/webm">
            </video>
        </div>
        <div class="container">
            <div class="row">
                <h2 class="section-title">Explore Locations</h2>
                <div class="col-sm-6">
                    <div class="map-img">
                        <img src="images/heatmap.png" alt="heatmap" />
                    </div>
                    <div class="text-center map-label">Hotspots</div>
                </div>
                <div class="col-sm-6">
                    <div class="map-img">
                        <img src="images/coldmap.png" alt="coldmap" />
                    </div>
                    <div class="text-center map-label">Coldspots</div>
                </div>
            </div>
        </div>
    </section>
    <!-- Explore location section end -->
    <!-- Get new value section start -->
    <section class="new-value-section">
        <div class="container">
            <div class="row">
                <h2 class="section-title">Get new value</h2>
                <div class="col-sm-4">
                    <div class="value-box light-blug-bg">
                        <h2>Track</h2>
                        <div class="text-center"><img src="images/down-arrow.png" /></div>
                        <ul>
                            <li>
                                Active places
                            </li>
                            <li>
                                Famous & promising  influencers
                            </li>
                            <li>
                                Marketing campaign  impact
                            </li>
                            <li>
                                Topics of interest
                            </li>
                            <li>
                                Your influence
                            </li>
                            <li>
                                Competitors
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="value-box dark-blug-bg">
                        <h2>Expand</h2>
                        <div class="text-center"><img src="images/down-arrow.png" /></div>
                        <ul>
                            <li>
                                Opportunities
                            </li>
                            <li>
                                Your network
                            </li>
                            <li>
                                Online & offline influence
                            </li>
                            <li>
                                Visibility
                            </li>
                            <li>
                                Strategic vision
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="value-box light-blug-bg">
                        <h2>Perform</h2>
                        <div class="text-center"><img src="images/down-arrow.png" /></div>
                        <ul>
                            <li>
                                Efficient geomarketing
                            </li>
                            <li>
                                Action in right location at right time
                            </li>
                            <li>
                                Market analysis
                            </li>
                            <li>
                                Digital campaigns
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Get new value section end -->
    <!-- Profilyser Team section start -->
    <section id="team-section">
        <div class="container">
            <div class="row">
                <h2 class="section-title">Profilyser Team</h2>
                <div class="col-sm-4">
                    <div class="team-wrap">
                        <div class="team-img-wrap">
                            <img src="images/charles.jpg" alt="team" />
                        </div>
                        <div class="self-link">
                            <a href="https://fr.linkedin.com/pub/perez-charles-phd/a/281/398" target="_new" title="linkedin"><i class="fa fa-linkedin"></i></a>
                            <a href="https://twitter.com/charles__perez " target="_new" title="twitter"><i class="fa fa-twitter"></i></a>
                            <a href="https://scholar.google.fr/citations?user=UrG6Kb0AAAAJ&hl=fr&oi=sra" target="_new" title="google scholar"><i class="fa fa-google"></i></a>
                            <a href="http://charlyperez.wix.com/academics" target="_new" title="web"><i class="fa fa-globe"></i></a>
                        </div>
                        <h2>Charles<br />Perez</h2>
                        <h3>Co-founder</h3>
                        <p>Charles holds a B.S. , M.S. and PhD in Computer Science. He is now an associate professor at Paris School of Business. He has 5 years of research experience on social media analysis. He has the conviction that scientific research can enhance business application by bridging the gap between physical and digital world. For this reason he founded cyber-physical search engine - Profilyser.</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-wrap">
                        <div class="team-img-wrap">
                            <img src="images/karina.jpg" alt="team" />
                        </div>
                        <div class="self-link">
                            <a href="https://fr.linkedin.com/in/kaarinas" target="_new" title="linkedin"><i class="fa fa-linkedin"></i></a>
                            <a href="https://twitter.com/karina_pika" target="_new" title="twitter"><i class="fa fa-twitter"></i></a>
                            <a href="https://scholar.google.fr/citations?user=aJgc0JwAAAAJ&hl=fr&oi=sra" target="_new" title="google scholar"><i class="fa fa-google"></i></a>
                            <a href="http://kaarinasp.wix.com/design" target="_new" title="wix"><i class="fa fa-globe"></i></a>
                        </div>
                        <h2>Karina<br />Sokolova</h2>
                        <h3>Co-founder</h3>
                        <p>Karina holds a B.S. and M.S. in Computer Science from Finland and France respectively. She is currently finalizing her PhD in Mobile Security and Privacy in France. Beyond her strong computer science and scientific background, she is passionate by design, photography and online communication becoming an all-round part of Profilyser team.</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-wrap">
                        <div class="team-img-wrap">
                            <img src="images/adrien.jpg" alt="team" />
                        </div>
                        <div class="self-link">
                            <a href="https://fr.linkedin.com/pub/adrien-charvet/5b/b07/37a" target="_new" title="linkedin"><i class="fa fa-linkedin"></i></a>
                            <a href="https://twitter.com/Adrien_Charvet" target="_new" title="twitter"><i class="fa fa-twitter"></i></a>
                            <a href="http://fr.viadeo.com/fr/profile/adrien.charvet" target="_new" title="viadeo" class="viadeo"><img src="images/viadeo-icon.png"></a>
                        </div>
                        <h2>Adrien<br />Charvet</h2>
                        <h3>Co-founder</h3>
                        <p>Adrien holds a B.S. and M.S. in Computer Science. He is currently a security specialist in French national healthcare organization. Adrien has a very strong information security background and would assure the security of Profilyser-related data and services.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Profilyser Team section end -->
    <!-- get pdf section start -->
    <section id="get-pdf-section">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <!-- <p>123</p> -->
                    <a href="/product">
                    <button type="button" class="btn btn-default submit-btn">TRY NOW</button>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!-- get pdf section end -->
</section>