<!-- Contact Us section start -->
<section id="contact-us-section" ng-controller="ContactController as cc">
    <div class="container">
        <div class="row">
            <h3><strong>Contact us</strong> to be informed about the product!</h3>
            <div class="contact-us-wrap">
                <form name="form" ng-submit="cc.contactProfilsyer()" role="form">
                    <div class="col-sm-6">
                        <div class="form-group" ng-class="{ 'has-error': form.name.$dirty && form.name.$error.required }">
                            <input type="text" name="name" class="form-control" placeholder="Name" ng-model="cc.form.reply_to_display_name" required>
                            <span ng-show="form.name.$dirty && form.name.$error.required" class="help-block">Name is required</span>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group" ng-class="{ 'has-error': form.email.$dirty && form.email.$invalid}">
                            <input type="email" name="email"  class="form-control" placeholder="Email" ng-model="cc.form.reply_to" ng-pattern="/^[_a-z0-9-]+(\.[_a-z0-9-]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/"  required/>
                            <span ng-show="form.email.$dirty && form.email.$error.required" class="help-block">Email is required</span>
                            <span ng-show="form.email.$dirty && form.email.$error.pattern" class="help-block">Not valid email!</span>
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <div class="form-group" ng-class="{ 'has-error': form.msg.$dirty && form.msg.$invalid}">
                            <textarea class="form-control" name="msg" placeholder="You can add a custom message" ng-model="cc.form.message" row=5 style="height:150px;" required></textarea>
                            <span ng-show="form.msg.$dirty && form.msg.$error.required" class="help-block">Message is required</span>
                        </div>
                    </div>
                    <div class="col-sm-12 text-center">
                        <button type="submit" class="send-btn" ng-disabled="form.$invalid">Send</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- Contact Us section end -->