<div ng-controller="ProductController as pc" ng-init="pc.init()">
    <div ng-if="pc.preloader" class="animated-container">
        <div class="preloader"></div>
    </div>
    <section id="product-section">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <!--  <h2>Welcome to Profilyser</h2>
                                                                                <h3>Your novel marketing experience!</h3>
                                                                                <p>Find key <strong>tweets</strong>, <strong>locations</strong> and <strong>profiles</strong> for Twitter trends.<br />
                    If you wish to test Profilyser using personalyzed location and topic, please <a href="/contact">contact us</a>.</p> -->
                    <!--                    <h2>Find key <strong>tweets</strong>, <strong>locations</strong> and <strong>profiles</strong> for Twitter trends.</h2>-->
                    <h3> Find profiles, locations, tweets that matters!</h3>
                </div>
                <div class="product-form-wrap">
                    <form name="twite" ng-submit="pc.search()" role="form">
                        <div class="col-sm-4">
                            <div class="form-group" ng-class="{ 'has-error': twite.to_city.$dirty && twite.to_city.$error.required }">
                                <label>Area:</label>
                                <select name="to_city" id="to_city" class="form-control" ng-model="pc.twite.to_city" style="line-height:33px;height:41px;" required>
                                    <option value="">-- Select Area --</option>
                                    <option ng-repeat="ct in pc.cityoption" value="{{ct.name}}">{{ct.name}}</option>
                                </select>
                                <span ng-show="twite.to_city.$dirty && twite.to_city.$error.required" class="help-block">Area is required</span>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>From:</label>
                                <!-- <input type="date" class="form-control" ng-model="pc.twite.raw_from_date" max="{{pc.today}}"> -->
                                <input type="text" class="form-control" uib-datepicker-popup="{{pc.format}}" ng-model="pc.twite.raw_from_date" is-open="pc.fromDateStatus.opened"  max-date="pc.today" datepicker-options="pc.dateOptions" date-disabled="pc.disabled(date, mode)" ng-required="false" close-text="Close" readonly="true" placeholder="dd-mm-yyyy" ng-click="pc.openFromDate($event)" />
                                <!-- <span class="input-group-btn datepicspan">
                                                                                                                                    <button type="button" class="btn btn-default" ng-click="pc.openFromDate($event)"><i class="fa fa-calendar"></i></button>
                                </span> -->
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>To:</label>
                                <!-- <input type="date" class="form-control" ng-model="pc.twite.raw_to_date" max="{{pc.today}}"> -->
                                <input type="text" class="form-control" uib-datepicker-popup="{{pc.format}}" ng-model="pc.twite.raw_to_date" is-open="pc.toDateStatus.opened"  min-date="pc.twite.raw_from_date" max-date="pc.today" datepicker-options="pc.dateOptions" date-disabled="pc.disabled(date, mode)" ng-required="false" close-text="Close" readonly="true" placeholder="dd-mm-yyyy" ng-click="pc.openToDate($event)" />
                                <!-- <span class="input-group-btn datepicspan">
                                                                                                                                    <button type="button" class="btn btn-default" ng-click="pc.openToDate($event)"><i class="fa fa-calendar"></i></button>
                                </span> -->
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label>Keywords:</label>
                                <tags-input class="form-control" ng-model="pc.twite.search_tags_arr" add-on-space="true" add-on-enter="false" on-tag-added="pc.splitTag(tags,$tag)" style="padding: 0px;">
                                </tags-input>
                                <!--                            <input class="form-control" type="text" ng-model="pc.twite.search_tags"/>-->
                            </div>
                        </div>
                        <div class="col-sm-12 text-center">
                            <button class="btn btn-default submit-btn" type="submit" ng-disabled="twite.$invalid">Profilyse</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- Product section End -->
    <section id="influence-map-section" ng-if="pc.tabs.length > 0">
        <!-- Tag section start -->
        <section id="tag-section" ng-if="pc.tabs[0].toppro.length > 0 && pc.tabs[1].toppro.length > 0 && pc.tabs[2].toppro.length > 0 && pc.cloudelems.length > 0">
            <div class="container">
                <div class="row">
                    <h2 class="section-title">Related Hashtags</h2>
                    <div class="col-sm-12">
                        <div clouder data="pc.cloudelems"></div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Tag section end -->
        <div class="container">
            <div class="row">
                <h2 class="section-title" style="margin-bottom: 39px;">Influence Map</h2>
                <div class="col-sm-12">
                    <div class="influence-map-wrap" ng-if="pc.tabs[0].toppro.length > 0 && pc.tabs[1].toppro.length > 0 && pc.tabs[2].toppro.length > 0">
                        <uib-tabset>
                        <uib-tab ng-repeat="tab in pc.tabs track by $index" heading="{{tab.title}}" active="tab.active" disable="tab.disabled" class="product-tab" select="pc.tabSelectCallback(tab)">
                        <div class="map-toggle-btn pull-right" >
                            <a href="javascript://" class="label label-warning" ng-click="pc.callbackMapToggle('heat',tab)">HeatMap</a>
                            <a href="javascript://" class="label label-success" ng-click="pc.callbackMapToggle('tweet',tab)">TweetMap</a>
                        </div>
                        <section id="influence-map-section">
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="influence-map-wrap">
                                            <div class="profile-influnce-box">
                                                <div class="blue-heading clearfix">
                                                    <h2>Profile</h2>
                                                    <h2><img src="images/influence-icon.png" title="Audience influence based on profile activity." style="width:30%;" ></h2>
                                                </div>
                                                <div class="influnce-body" ng-scrollbars ng-scrollbars-config="pc.scrollbarConfig">
                                                    <div ng-repeat="item in tab.data track by $index">
                                                        <div class="influ-row clearfix" ng-class="(pc.selectedUser.indexOf(item.user_id) != -1) ? 'influ-row-active' : ''" ng-click="pc.callbackListItem(item.user_id, tab.counter, $index)">
                                                            <div class="first-half">
                                                                <h3>{{item.screen_name}}</h3>
                                                                <!-- <p>Followers: <span>{{item.follower_number}}</span></p>
                                                                <p>Friends: <span>{{item.followees_number}}</span></p> -->
                                                            </div>
                                                            <div class="second-half">
                                                                <span ng-if="tab.counter == 1">
                                                                <span ng-if="item.point >= 1">{{item.point | mathlog | twodecimalplace}}</span>
                                                                <span ng-if="item.point < 1">0</span>
                                                                </span>
                                                                <span ng-if="tab.counter == 2">
                                                                <span ng-if="item.point >= 1">{{((item.point | mathlog ) * 100) | twodecimalplace}}</span>
                                                                <span ng-if="item.point < 1">0</span>
                                                                </span>
                                                                <span ng-if="tab.counter == 0">
                                                                <span ng-if="item.point > 0">
                                                                {{item.point}}
                                                                </span>
                                                                <span ng-if="item.point <= 0">
                                                                0
                                                                </span>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <a href="javascript:void(0);" class="export-csv" ng-csv="tab.csvdata" lazy-load="true" filename="{{tab.filename}}" csv-header="tab.csvheader">Export Csv <i class="fa fa-download"></i></a>
                                            </div>
                                            <div class="hot-map-wrap">
                                                <div ng-if="$index == 0">
                                                    <div showtweetmap mapdata="tab.twitMapData" zoom="pc.zoom" center="pc.twitMapCenter" ng-if="pc.mapload.famous.tweet"></div>
                                                    <div showheatmap mapdata="tab.heatMapData" zoom="pc.zoom" center="pc.heatMapCenter" ng-if="pc.mapload.famous.heat"></div>
                                                </div>
                                                <div ng-if="$index == 1">
                                                    <div showtweetmap mapdata="tab.twitMapData" zoom="pc.zoom" center="pc.twitMapCenter" ng-if="pc.mapload.balanced.tweet"></div>
                                                    <div showheatmap mapdata="tab.heatMapData" zoom="pc.zoom" center="pc.heatMapCenter" ng-if="pc.mapload.balanced.heat"></div>
                                                </div>
                                                <div ng-if="$index == 2">
                                                    <div showtweetmap mapdata="tab.twitMapData" zoom="pc.zoom" center="pc.twitMapCenter" ng-if="pc.mapload.promising.tweet"></div>
                                                    <div showheatmap mapdata="tab.heatMapData" zoom="pc.zoom" center="pc.heatMapCenter" ng-if="pc.mapload.promising.heat"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section id="top-profile-section">
                            <div class="container">
                                <div class="row">
                                    <h2 class="section-title">Top Profiles</h2>
                                    <div ng-repeat="pro in tab.toppro track by $index" class="col-sm-4">
                                        <div class="profile-wrap">
                                            <div class="profile-box" style="width:100%; background-color: #fff;">
                                                <div class="user-top-section">
                                                    <div class="user-img-wrap clearfix">
                                                        <div class="user-img">
                                                            <a href="{{pro[0].profile_url}}" target="_new">
                                                            <img src="{{pro[0].profile_image_url}}" onerror="this.src='images/no-img.png';">
                                                            </a>
                                                        </div>
                                                        <div class="user-info">
                                                            <h3>{{pro[0].screen_name}}</h3>
                                                            <p><i class="fa fa-users"></i> Followers: <span>{{pro[pro.length-1].follower_number}}</span></p>
                                                            <p><i class="fa fa-user"></i> Friends: <span>{{pro[pro.length-1].friend_number}}</span></p>
                                                            <p><i class="fa fa-twitter"></i> Tweet Count: <span>{{pro[pro.length-1].statuses_count}}</span></p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="tweets-wrap" ng-scrollbars ng-scrollbars-config="pc.scrollbarConfig">
                                                    <div class="tw-row" ng-repeat="item in pro">
                                                        <!-- <div class="user-small">
                                                                                                                                                                                                                                                        <a href="http://twitter.com/{{pro[0].screen_name}}" target="_new"><img src="{{pro[0].profile_image_url}}"></a>
                                                        </div> -->
                                                        <div class="user-des">
                                                            <p ng-bind-html="item.tweet_content | extracturl"></p>
                                                            <span class="time-stamp" am-time-ago="item.time_of_publication"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <a href="{{pro[0].profile_url}}" class="contact-btn" target="_new">Contact <span>{{pro[0].screen_name}}</span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        </uib-tab>
                        </uib-tabset>
                    </div>
                    <div class="influence-map-wrap" ng-if="pc.tabs[0].toppro.length == 0 && pc.tabs[1].toppro.length == 0 && pc.tabs[2].toppro.length == 0">
                        <h2 style="text-align:center;">No result found.</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>