<!-- Product section Start -->
<section id="product-section" ng-controller="Product1Controller as pc1" ng-init="pc1.getResult();">
    <table class="table table-striped">
    <thead>
      <tr>
        <th>TwitterId:</th>
        <th>tweet_content:</th>
        <th>city</th>
        <th>User Id</th>  
        <th>Screen name</th>
        <th>friend number</th>
        <th>follower number</th>
        <th>time_of_publication:</th>
       
      </tr>
    </thead>
    <tbody>
        <tr ng-repeat="(key, value) in pc1.result.data | orderBy:'-time_of_publication'"">
        <td>{{value.TwitterId}}</td>
        <td>{{value.tweet_content}}</td>
        <td>{{value.city}}</td>
        <td>{{value.user_Id}}</td>
        <td><a href="{{value.profile_url}}">{{value.screen_name}}</a></td>
        <td>{{value.friend_number}}</td>
        <td>{{value.follower_number}}</td>
        <td>{{value.time_of_publication | date:"MM/dd/yyyy 'at' h:mma" }}</td>
      </tr>
  </table>
<!--   {{pc1.result}}-->
</section>
