<!-- Product section Start -->
<section id="product-section" ng-controller="ProductController as pc1" ng-init="pc1.getResult();">
    <button class="btn btn-default" ng-if="pc1.exportActive" ng-csv="pc1.exportCsv" lazy-load="true" filename="tess.csv" csv-header="pc1.exportCsvHEader">Export to CSV</button>
    <table class="table table-striped">
    <thead>
      <tr>
        <th>id</th>
        <th>content</th>
        <th>Time</th>
        <th>User Id</th>  
        <th>name</th> 
        <th>Screen name</th>
        <th>friend number</th>
        <th>follower number</th>
      </tr>
    </thead>
    <tbody>
        <tr ng-repeat="(key, value) in pc1.result.statuses">
        <td>{{value.id}}</td>
        <td>{{value.text}}</td>
        <td>{{value.created_at}}</td>
        
        <td>{{value.user.id}}</td>  
        <td><a href="{{value.user.url}}" target="blank">{{value.user.name}}</td>
        <td>{{value.user.screen_name}}</td>
        <td>{{value.user.friends_count}}</td>
        <td>{{value.user.followers_count}}</td>
      </tr>
  </table>
<!--   {{pc1.result}}-->
</section>
