<div ng-controller="SearchController as sc" ng-init="sc.initSearch()">
    <!-- Tag section start -->
    <section id="tag-section" ng-init="sc.initTags()">
        <div class="container">
            <div class="row">
                <h2 class="section-title">Related Hashtags</h2>
                <div class="col-sm-12">
                    <div class="tag-cloud-wrap" id="clouder">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Tag section end -->
    <section id="influence-map-section">
        <div class="container">
            <div class="row">
                <h2 class="section-title">Influence List</h2>
                <div class="col-sm-4">
                    <h3 style="text-align:center; text-transform: lowercase;">FAMOUS PROFILES</h3>
                    <div class="influence-map-wrap">
                        <div class="profile-influnce-box" style="width:100%;">
                            <div class="blue-heading clearfix">
                                <h2>Profiles</h2>
                                <h2>Influence</h2>
                            </div>
                            <div class="influnce-body ">
                                <div ng-repeat="item in sc.fp">
                                    <div class="influ-row clearfix">
                                        <div class="first-half">
                                            <h3>{{item.full_name}}</h3>
                                            <p>Friends: <span>{{item.followees_number}}</span></p>
                                            <p>Followers: <span>{{item.follower_number}}</span></p>
                                        </div>
                                        <div class="second-half">
                                            {{item.point}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a href="javascript:void(0);" class="export-csv" ng-csv="sc.exportFpCsv" lazy-load="true" filename="FAMOUS-PROFILES.csv" csv-header="sc.exportCsvHEader">Export Csv <i class="fa fa-download"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <h3 style="text-align:center; text-transform: lowercase;">BALANCED PROFILES</h3>  
                    <div class="influence-map-wrap">
                        <div class="profile-influnce-box" style="width:100%;">
                            <div class="blue-heading clearfix">
                                <h2>Profiles</h2>
                                <h2>Influence</h2>
                            </div>
                            <div class="influnce-body ">
                                <div ng-repeat="item in sc.bp">
                                    <div class="influ-row clearfix">
                                        <div class="first-half">
                                            <h3>{{item.full_name}}</h3>
                                            <p>Friends: <span>{{item.followees_number}}</span></p>
                                            <p>Followers: <span>{{item.follower_number}}</span></p>
                                        </div>
                                        <div class="second-half">
                                            {{item.point | mathlog | twodecimalplace}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a href="#" class="export-csv" ng-csv="sc.exportBpCsv" lazy-load="true" filename="BALANCED-PROFILES.csv" csv-header="sc.exportCsvHEader">Export Csv <i class="fa fa-download"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <h3 style="text-align:center; text-transform: lowercase;">PROMISING PROFILES</h3>  
                    <div class="influence-map-wrap">
                        <div class="profile-influnce-box" style="width:100%;">
                            <div class="blue-heading clearfix">
                                <h2>Profiles</h2>
                                <h2>Influence</h2>
                            </div>
                            <div class="influnce-body ">
                                <div ng-repeat="item in sc.pp">
                                    <div class="influ-row clearfix">
                                        <div class="first-half">
                                            <h3>{{item.full_name}}</h3>
                                            <p>Friends: <span>{{item.followees_number}}</span></p>
                                            <p>Followers: <span>{{item.follower_number}}</span></p>
                                        </div>
                                        <div class="second-half">
                                            {{item.point| mathlog | twodecimalplace}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a href="javascript:void(0);" class="export-csv" ng-csv="sc.exportPpCsv" lazy-load="true" filename="PROMISING-PROFILES.csv" csv-header="sc.exportCsvHEader">Export Csv <i class="fa fa-download"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- <section id="influence-map-section">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="influence-map-wrap">  
                        <uib-tabset justified="true">
                            <uib-tab heading="Heatmap">
                                <div showheatmap mapdata="sc.heatMapData" center="sc.heatMapCenter"></div>
                            </uib-tab>
                            <uib-tab heading="Tweet Map" select="sc.alertMe()">
                                <div showtweetmap mapdata="sc.twitMapData" center="sc.twitMapCenter"></div>
                            </uib-tab>
                        </uib-tabset>
                    </div>
                </div>
            </div>
        </div>
    </section>  -->




    

    <section id="influence-map-section">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="influence-map-wrap">  
                        <div showheatmap mapdata="sc.heatMapData" center="sc.heatMapCenter"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <section id="influence-map-section">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="influence-map-wrap">  
                        <div showtweetmap mapdata="sc.heatMapData" center="sc.twitMapCenter"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <!-- Top Profiles section start -->
    <section id="top-profile-section">
        <div class="container">
            <div class="row">
                <h2 class="section-title">Top Profiles</h2>
                <div class="col-sm-4">
                    <div class="profile-wrap">
                        <h3 style="text-align:center; text-transform: lowercase;">FAMOUS PROFILE</h3>
                        <div class="profile-box" style="width:100%;">
                            <div class="user-top-section">
                                <div class="user-img-wrap clearfix">
                                    <div class="user-img">
                                        <a href="http://twitter.com/{{sc.topfptweets[0].screen_name}}" target="_new"><img src="{{sc.topfptweets[0].profile_image_url}}"></a>
                                    </div>
                                    <div class="user-info">
                                        <h3>{{sc.topfptweets[0].screen_name}}</h3>
                                        <p><i class="fa fa-users"></i> Followers: <span>{{sc.topfptweets[sc.topfptweets.length-1].follower_number}}</span></p>
                                        <p><i class="fa fa-user"></i> Friends: <span>{{sc.topfptweets[sc.topfptweets.length-1].friend_number}}</span></p>
                                        <p><i class="fa fa-twitter"></i> Tweet Count: <span>{{sc.topfptweets[sc.topfptweets.length-1].statuses_count}}</span></p>
                                    </div>
                                    <!-- <div class="des-text">{{sc.topfptweets[0].twitter_user[0].description}}</div> -->
                                </div>
                            </div>
                            <div class="tweets-wrap">
                                <div class="tw-row" ng-repeat="item in sc.topfptweets">
                                    <div class="user-small">
                                        <a href="http://twitter.com/{{sc.topfptweets[0].screen_name}}" target="_new"><img src="{{sc.topfptweets[0].profile_image_url}}"></a>
                                    </div>
                                    <div class="user-des">
                                        <p>{{item.tweet_content}}</p>
                                        <a href="javascript:void(0)" class="time-stamp" am-time-ago="item.time_of_publication"></a>
                                    </div>
                                </div>
                            </div>
                            <a href="http://twitter.com/{{sc.topfptweets[0].screen_name}}" class="contact-btn" target="_new">Contact <span>{{sc.topfptweets[0].screen_name}}</span></a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="profile-wrap">
                        <h3 style="text-align:center; text-transform: lowercase;">BALANCED PROFILE</h3>
                        <div class="profile-box" style="width:100%;">
                            <div class="user-top-section">
                                <div class="user-img-wrap clearfix">
                                    <div class="user-img">
                                        <a href="http://twitter.com/{{sc.topbptweets[0].screen_name}}" target="_new"><img src="{{sc.topbptweets[0].profile_image_url}}"></a>
                                    </div>
                                    <div class="user-info">
                                        <h3>{{sc.topbptweets[0].screen_name}}</h3>
                                        <p><i class="fa fa-users"></i> Followers: <span>{{sc.topbptweets[sc.topbptweets.length-1].follower_number}}</span></p>
                                        <p><i class="fa fa-user"></i> Friends: <span>{{sc.topbptweets[sc.topbptweets.length-1].friend_number}}</span></p>
                                        <p><i class="fa fa-twitter"></i> Tweet Count: <span>{{sc.topbptweets[sc.topbptweets.length-1].statuses_count}}</span></p>
                                    </div>
                                    <!-- <div class="des-text">{{sc.topbptweets[0].twitter_user[0].description}}</div> -->
                                </div>
                            </div>
                            <div class="tweets-wrap">
                                <div class="tw-row" ng-repeat="item in sc.topbptweets">
                                    <div class="user-small">
                                        <a href="http://twitter.com/{{sc.topbptweets[0].screen_name}}" target="_new"><img src="{{sc.topbptweets[0].profile_image_url}}"></a>
                                    </div>
                                    <div class="user-des">
                                        <p>{{item.tweet_content}}</p>
                                        <a href="javascript:void(0)" class="time-stamp" am-time-ago="item.time_of_publication"></a>
                                    </div>
                                </div>
                            </div>
                            <a href="http://twitter.com/{{sc.topbptweets[0].screen_name}}" class="contact-btn" target="_new">Contact <span>{{sc.topbptweets[0].screen_name}}</span></a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="profile-wrap">
                        <h3 style="text-align:center; text-transform: lowercase;">PROMISING PROFILE</h3>
                        <div class="profile-box" style="width:100%;">
                            <div class="user-top-section">
                                <div class="user-img-wrap clearfix">
                                    <div class="user-img">
                                        <a href="http://twitter.com/{{sc.toppptweets[0].screen_name}}" target="_new"><img src="{{sc.toppptweets[0].profile_image_url}}"></a>
                                    </div>
                                    <div class="user-info">
                                        <h3>{{sc.toppptweets[0].screen_name}}</h3>
                                        <p><i class="fa fa-users"></i> Followers: <span>{{sc.toppptweets[sc.toppptweets.length-1].follower_number}}</span></p>
                                        <p><i class="fa fa-user"></i> Friends: <span>{{sc.toppptweets[sc.toppptweets.length-1].friend_number}}</span></p>
                                        <p><i class="fa fa-twitter"></i> Tweet Count: <span>{{sc.toppptweets[sc.toppptweets.length-1].statuses_count}}</span></p>
                                    </div>
                                    <!-- <div class="des-text">{{sc.toppptweets[0].twitter_user[0].description}}</div> -->
                                </div>
                            </div>
                            <div class="tweets-wrap">
                                <div class="tw-row" ng-repeat="item in sc.toppptweets">
                                    <div class="user-small">
                                        <a href="http://twitter.com/{{sc.toppptweets[0].screen_name}}" target="_new"><img src="{{sc.toppptweets[0].profile_image_url}}"></a>
                                    </div>
                                    <div class="user-des">
                                        <p>{{item.tweet_content}}</p>
                                        <a href="javascript:void(0)" class="time-stamp" am-time-ago="item.time_of_publication"></a>
                                    </div>
                                </div>
                            </div>
                            <a href="http://twitter.com/{{sc.toppptweets[0].screen_name}}" class="contact-btn" target="_new">Contact <span>{{sc.toppptweets[0].screen_name}}</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<script type="text/javascript" src="js/clouder.js"></script>


