body{
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    color: #313131;
    line-height: 18px;
    font-weight: 400;
    padding-top: 80px;
}
a, a:hover, a:active, a:focus{
    outline: 0 none !important;
}
.container{
    width: 960px;
    max-width: 100%;
}
.navbar-header,.navbar-brand{
    height: auto;
}
.top-nav{
    background: #f2fbff;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
    border-radius: 0;
    -webkit-border-radius: 0;
    -o-border-radius: 0;
    -moz-border-radius: 0;
    height: auto;
    margin: 0;
}
.menu-up{
    margin-top: 45px;
}
.menu-up.navbar-nav > li{
    margin: 0 0 0 20px;
}
.menu-up.navbar-nav > li > a{
    font-size: 20px;
    font-weight: 300;
    text-transform: uppercase;
    color: #103b58;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    padding: 0 0 20px;
}
.menu-up.navbar-nav > li > a:hover, .menu-up.navbar-nav > li > a.active{
    background: none;
    -webkit-box-shadow: 0px 4px 0px 0px rgba(16, 59, 88, 1);
    -moz-box-shadow:    0px 4px 0px 0px rgba(16, 59, 88, 1);
    box-shadow:         0px 4px 0px 0px rgba(16, 59, 88, 1);
}
#product-section{
    padding: 40px 0;
}
#product-section h2{
    font-size: 40px;
    font-weight: 300;
    margin: 0 0 15px;
    color: #0c183e;
}
#product-section h3{
    font-size: 36px;
    font-weight: 300;
    margin: 0 0 15px;
    color: #fc8801;
    padding-left: 100px;
}
#product-section p{
    font-size: 24px;
    font-weight: 300;
    margin: 0 0 15px;
    color: #0c183e;
    line-height: 1.2em;
}
#product-section p strong{
    font-weight: 700;
}
#product-section p a{
    font-weight: 700;
    color: #fc8801;
    text-decoration: underline;
}
.product-form-wrap{}
.product-form-wrap label{
    font-size: 24px;
    color: #0c183e;
    font-weight: 400;
    margin-bottom: 15px;
}
.product-form-wrap .form-control{
    border-radius: 0;
    -webkit-border-radius: 0;
    -o-border-radius: 0;
    -moz-border-radius: 0;
    border: 2px solid #0c183e;
    height: auto;
    font-size: 18px;
    font-weight: 300;
}

.product-form-wrap input[type="date"].form-control{
    line-height: normal;
}
.submit-btn{
    background: #0c183e;
    font-size: 32px;
    padding: 20px 60px;
    color: #fff;
    font-weight: 400;
    border-radius: 0;
    -webkit-border-radius: 0;
    -o-border-radius: 0;
    -moz-border-radius: 0;
    border: 0 none;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    height: auto;
    line-height: 1em;
    -webkit-box-shadow: inset 0px 0px 0px 5px rgba(255,255,255, 1);
    -moz-box-shadow:    inset 0px 0px 0px 5px rgba(255,255,255, 1);
    box-shadow:         inset 0px 0px 0px 5px rgba(255,255,255, 1);
    border: 1px solid rgba(12, 24, 62, 1);
}

.submit-btn:hover{
    background: #fc8801;
    color: #fff;
    border-color: #fc8801;
}

.submit-btn[disabled]{
    background: #0c183e;
    border: 1px solid rgba(12, 24, 62, 1);
}

.submit-btn[disabled]:hover{
    background: #0c183e;
    border: 1px solid rgba(12, 24, 62, 1);
}

.product-form-wrap .submit-btn{
    margin: 30px 0 0;
}


#tag-section {
    background: #e9f8ff none repeat scroll 0 0;
    border-top: 4px solid #54abec;
    min-height: 400px;
    padding: 40px 0;
}

#clouder > span {
    border-radius: 8px;
    color: #fff;
    display: inline-block;
    padding: 15px;
}

.section-title{
    color: #09395c;
    font-size: 30px;
    line-height: 1em;
    margin: 0;
    padding-bottom: 15px;
    position: relative;
    text-align: center;
}
.section-title::after{
    background: #09395c;
    bottom: 0;
    content: "";
    height: 4px;
    left: 45%;
    position: absolute;
    width: 10%;
}

#keyword-section{
    padding: 40px 0;
    background: #fff;
}

#influence-map-section{
    padding: 0;
    background: #e9f8ff;
}

#influence-map-section .row .col-sm-12{
    padding-left: 0;
    padding-right: 0;
}

#top-profile-section{
    padding: 40px 0;
/*    background: #fff;*/
}
#get-pdf-section{
    padding: 40px 0;
    background: #eeeeee;
}

#contact-us-section{
    background: #c5d0da url('../images/contact-bg.jpg') 50% 50% no-repeat;
    background-size: cover;
    padding: 40px 0;
}
#contact-us-section h3{
    font-size: 30px;
    text-align: center;
    font-weight: 300;
    color: #0c183e;
    margin: 0 0 30px;
}
#contact-us-section h3 strong{
    font-weight: 700;
}
.contact-us-wrap{}
.contact-us-wrap .form-control{
    background: #ffffff;
    height: auto;
    border: 1px solid #0c183e;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
    font-size: 18px;
    font-weight: 300;
    color: #313131;
}
.send-btn {
    background: #fc8801 none repeat scroll 0 0;
    border: 0 none;
    color: #fff;
    font-size: 24px;
    height: auto;
    line-height: 1em;
    margin: 20px 0 0;
    padding: 15px 55px;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
.send-btn:hover{
    -webkit-box-shadow: inset 0px 0px 16px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow:    inset 0px 0px 16px 0px rgba(0, 0, 0, 0.75);
    box-shadow:         inset 0px 0px 16px 0px rgba(0, 0, 0, 0.75);
}
#footer-section{
    background: #263f51;
    padding: 40px 0 0;
}

#footer-section h2{
    font-size: 24px;
    margin: 0 0 15px;
    padding-bottom: 10px;
    color: #fff;
    border-bottom: 1px solid rgba(255,255,255,0.5);
}
#footer-section p{
    color: #d4d7da;
    font-weight: 300;
    margin-bottom: 10px;
}
.foot-call, .foot-mail{
    font-size: 17px;
}
.foot-call a, .foot-mail a{
    color: #d4d7da;
    display: inline-block;
    margin: 5px 0 0;
}
.foot-call img, .foot-mail img{
    float: left;
    margin: 0 10px 0 0;
}
#footer-section ul{
    margin: 0;
    list-style: none;
    padding: 0
}
#footer-section ul li{
    margin-bottom: 8px;
}
#footer-section ul li a{
    font-size: 18px;
    font-weight: 300;
    color: #d4d7da;
}
.footer-bottom{
    background: #0c183e;
    padding: 40px 0;
    margin-top: 30px;
    font-size: 18px;
    font-weight: 300;
    text-transform: uppercase;
    color: #fff;
}
.footer-bottom a{
    color: #fff;
    display: inline-block;
    padding: 0 10px;
}
.footer-bottom a:last-child{
    padding: 0 0 0 10px;
}
.social-links a{
    display: inline-block;
    margin: 0 3px 5px 0;
    opacity: 0.6;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
}
.social-links a:hover{
    opacity: 1;
}


/*How it works*/
#home-banner-section{
    padding: 50px 0;
    background: url(../images/banner-bg.png) 50% 0 no-repeat;
    background-size: cover;
}
#home-banner-section h2{
    font-size: 48px;
    color: #fff;
    font-weight: 300;
    text-align: center;
    text-shadow: 0 2px 2px rgba(0,0,0,0.35);
}
#home-banner-section h3{
    font-size: 32px;
    color: #fff;
    font-weight: 300;
    text-align: center;
    text-shadow: 0 1px 1px rgba(0,0,0,0.35);
}
#how-it-works-section{
    padding: 40px 0;
    background: #fff;
}
#team-section{
    padding: 40px 0 50px;
    background: #e9f8ff;
}
.team-wrap{
    background: #54abec;
    padding: 20px;
    margin: 80px 0 0; 
    position: relative;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    height: 360px;
}
.team-wrap:hover{
    background: #09395c;
}
.team-img-wrap{
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    -moz-border-radius: 50%;
    overflow: hidden;
    border: 2px solid #09395c;
    top: -50px;
    left: 20px;
}
.team-img-wrap img{
    width: 100%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    -moz-border-radius: 50%;
}
.team-wrap h2{
    text-align: right;
    color: #fff;
    margin: 0 0 10px;
    line-height: 1em;
    font-size: 28px;
}
.team-wrap h3{
    text-align: left;
    color: #fff;
    margin: 0 0 10px;
    line-height: 1em;
    font-size: 20px;
}
.team-wrap p{
    text-align: left;
    color: #fff;
    margin: 0 0 10px;
    line-height:20px;
    font-size: 14px;
}

.self-link {
    position: absolute;
    right: 15px;
    top: -15px;
}
.self-link > a {
    background: #fff none repeat scroll 0 0;
    border: 2px solid #09395C;
    border-radius: 50%;
    color: #09395C;
    display: inline-block;
    height: 30px;
    line-height: 25px;
    margin: 0 0 0 5px;
    text-align: center;
    width: 30px;
}

.self-link > a:hover{
    background: #F19121 none repeat scroll 0 0;
}

.viadeo img {
    margin: -4px 0 0;
}

.try-free-btn{
    background: #0c183e;
    font-size: 32px;
    padding: 20px 60px;
    color: #fff;
    font-weight: 300;
    border-radius: 0;
    -webkit-border-radius: 0;
    -o-border-radius: 0;
    -moz-border-radius: 0;
    border: 0 none;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    height: auto;
    line-height: 1em;
    -webkit-box-shadow: inset 0px 0px 0px 5px rgba(255,255,255, 1);
    -moz-box-shadow:    inset 0px 0px 0px 5px rgba(255,255,255, 1);
    box-shadow:         inset 0px 0px 0px 5px rgba(255,255,255, 1);
    border: 1px solid rgba(12, 24, 62, 1);
    margin: 30px 0 10px;
}

.try-free-btn:hover{
    background: #fc8801;
    color: #fff;
    border-color: #fc8801;
}

#algorithm-section {
    background: rgb(240, 116, 35) none repeat scroll 0 0;
    padding: 40px 0 0;
}
#algorithm-section img{
    margin-top: 30px;
    height: 75px;
}
#algorithm-section h2{
    color: #fff;
}
#algorithm-section .right-inf-wrap {
    color: #fff;
}
#algorithm-section .right-inf-wrap h3{
    color: #fff;
    margin-bottom: 5px;
    font-size: 25px;
}
#algorithm-section .section-title::after
{
    background: #fff;
}
.algorithm-text{
    background: #103B58;
    background-size: cover;
    padding: 15px 0 20px;
    color: #fff;
}
div.hashtagify_testimonial {
    margin: 34px 6% 28px 8%;
}
div.hashtagify_testimonial blockquote {
    font-size: 21px;
    line-height: 1.5;
    margin: 0 0 0.5em;
    border: 0 none;
    color: #fff;
}
div.hashtagify_testimonial blockquote::before {
    color: #C8E9F8;
    content:"\201C";
    font-size: 6em;
    line-height: 0;
    margin-left: -8px;
    padding-right: 10px;
    position: relative;
    top: 8px;
    vertical-align: -0.4em;
}
div.hashtagify_testimonial blockquote::after {
    bottom: -25px;
    content: "\201D";
    font-size: 6em;
    line-height: 0;
    padding-right: 10px;
    position: relative;
    vertical-align: -0.4em;
    color: #C8E9F8;
}

/* 06-10-2015 start */
.map-toggle-btn{
    margin-top: 5px;
}
.influence-map-wrap{
    margin: 5px 0 30px 0;
}
.influence-map-wrap::after{
    content: "";
    display: block;
    clear: both;
}

.profile-influnce-box{
    float: left;
    width: 29%;
}
.hot-map-wrap{
    float: right;
    width: 70%;
    border: 1px solid #54abec;
    height: 463px;
}
.hot-map-wrap img{
    width: 100%;
}
.blue-heading{
    background: #0c183e;
    padding: 0;
}
.blue-heading > h2{
    float: left;
    color: #fff;
    margin: 0;
    font-size: 18px;
    padding: 10px;
}
.blue-heading > h2:nth-of-type(1){
    width: 60%;
}
.blue-heading > h2:nth-of-type(2){
    width: 40%;
    padding-left: 0;
}
.influnce-body{
    height: 385px;
    overflow-y: auto;
}
.influ-row{
    background: #fff;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    border-top:1px solid #cef0ff;
    cursor: pointer;
}
.influ-row:hover{
    background: #eeeeee;
}

.influ-row-active{
    background: #eeeeee;
}

.first-half{
    float: left;
    width: 60%;
    border-right:1px solid #cef0ff;
    padding: 10px;
}
.second-half{
    float: right;
    width: 40%;
    /*padding: 30px 10px 10px 10px;*/
    padding: 10px;
    font-size: 15px;
    font-weight: 700;
}
.first-half h3{
    font-size: 15px;
    margin: 0 0 5px;
    color: #313131;
    word-break: break-word;
}
.first-half p{
    font-size: 14px;
    margin: 0 0 0px;
    color: #313131;
}
.first-half p span{
    font-weight: 700;
    color: #0c183e;
}
.export-csv{
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    background: #fc8801;
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    color: #fff;
    padding: 10px;
    width: 100%;
    display: block;
    font-weight: 700;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
}
.export-csv:hover{
    background: #0c183e;
    color: #fff;
}

.profile-box{
    border: 1px solid #fc8801;
    padding: 0;
    width: 32.25%;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    float: left;
    margin: 0 0 0 15px;
    position: relative;
    min-height: 445px;
}

.profile-box:nth-of-type(1){
    margin: 0 0 0 0;
}
.profile-wrap{
    margin-top: 30px;
}
.user-top-section{
    padding: 15px;
}
.user-img {
    border: 1px solid #000;
    float: left;
    margin: 0 15px 15px 0;
    width: 48px;
}
.user-img a{
    display: block;
}
.user-img img{
    width: 100%;
}
.user-info {
    float: right;
    width: 75%;
}
.user-info h3 {
    border-bottom: 2px solid #000;
    font-size: 18px;
    line-height: 1;
    margin: -2px 0 10px;
    padding-bottom: 8px;
    font-weight: 700;
    word-break: break-word;
}
.user-info p{
    margin-bottom: 8px;
    color: #313131;
}
.user-info p i{
    color: #0c183e;
    font-size: 16px;
    margin: 0;
    width: 20px;
}
.des-text{
    float: left;
    width: 100%;
}
.tweets-wrap{
    padding: 5px 10px 10px;
    height: 250px;
}
.tw-row{
    margin-bottom: 15px;
}
.tw-row::after{
    content: "";
    display: block;
    clear: both;
}
.user-small {
    float: left;
    margin: 0 15px 15px 0;
    width: 36px;
}
.user-des{
    float: right;
    /*width: calc(100% - 52px);*/
    width: 100%;
    padding-top: 5px;
}
.user-des p{
    font-size: 12px;
    line-height: 1em !important;
    margin: -4px 0 10px;
}
.user-des a{
    color: #0a86ce;
}
.contact-btn{
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    background: #fc8801;
    text-align: center;
    font-size: 14px;
    color: #fff;
    padding: 10px;
    width: 100%;
    display: block;
    font-weight: 700;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
    position: absolute;
    bottom: 0;
}
.contact-btn:hover{
    background: #0c183e;
    color: #fff;
    text-decoration: none;
}
.contact-btn span{
    text-decoration: underline;
}
.animated-container{
    background-color: #e2e2e2 ;
    bottom: 0px ;
    left: 0px ;
    opacity: 0.8 ;
    position: fixed ;
    right: 0px ;
    top: 0px ;
    z-index: 999999 ;
}

.preloader {
    padding: 50px;
    background: url('../images/preloader.gif') no-repeat 50% 50% transparent;
    left: 0px ;
    margin-top: -37px ;
    position: absolute ;
    right: 0px ;
    text-align: center ;
    top: 50% ;
}

.product-tab{
    width: 33.33%;
    font-size: 18px;
    text-align: center;
}

.right-inf-wrap {
    padding: 0 0 30px;
    text-align: center;
}

.right-inf-wrap::after {
    clear: both;
    content: "";
    display: block;
}

.inf-icon-wrap {
    /* background: #e8e8e8 none repeat scroll 0 0;*/
    border-radius: 8px;
    font-size: 75px;
    margin: 0 auto;
    padding: 25px;
    /*width: 50%;*/
}

.right-inf-wrap h3 {
    font-size: 18px;
    margin: 10px 0 0;
}

.map-img > img {
    max-width: 100%;
}
.map-img {
    padding: 25px 0;
}

.explore-section{
    padding: 0;
    height: 580px;
    background: url('../images/poster.png') 50% 50% no-repeat;
    background-size: cover;
}

.explore-section .container .section-title{ margin-top: 40px;}
.map-label{ font-size: 25px; color: #fff;}

.vdo-wrap {
    height: 580px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 100%;
}

.value-tbl{
    width: 100%;
    margin-top: 30px;
}

.value-tbl td{
    vertical-align: top;
    padding: 10px;
    font-size: 14px;
}
.value-tbl th{
    background: #103B58;
    color: #fff;
    font-size: 18px;
    padding: 10px;
}
.value-tbl ul{
    padding: 0 0 0 15px;
    margin: 0;
}

.datepic{
    width: 240px;
}
.datepicspan{
    float: right;
    margin: -43px 47px 0 0;
}

.datepicspan .btn{
    padding: 10.5px 13px;
}
tags-input .host
{
    margin: 0px !important;
}

.btn-social {
    color: white;
    opacity: 0.8;
}

.btn-social:hover {
    color: white;
    opacity: 1;
    text-decoration: none;
}

.btn-facebook {
    background-color: #3b5998;
}

.btn-twitter {
    background-color: #00aced;
}

.btn-linkedin {
    background-color: #0e76a8;
}

.btn-google {
    background-color: #c32f10;
}

#sidebar {
    height: 100%;
    padding-right: 0;
    padding-top: 20px;
}
#sidebar .nav {
    width: 95%;
}
#sidebar li {
    border:0 #f2f2f2 solid;
    border-bottom-width:1px;
}
#login-section,#register-section{
    background: #c5d0da url('../images/contact-bg.jpg') 50% 50% no-repeat;
    background-size: cover;
    padding: 40px 0;
}

.new-value-section{
    padding: 40px 0;
    background: url(../images/new-value.png) 50% 0 no-repeat;
}

.new-value-section .container .row h2{ margin-bottom: 25px;}
.light-blug-bg{ background: #2B689C; border: 2px solid #2B689C;}
.dark-blug-bg{ background: #033B58; border: 2px solid #033B58;}
.value-box{
    border-radius: 0 50px 0 50px;
    -webkit-border-radius: 0 50px 0 50px;
    -o-border-radius: 0 50px 0 50px;
    -moz-border-radius: 0 50px 0 50px;
    padding: 20px 25px;
    box-shadow: 0px 0px 15px 3px rgba(0,0,0,0.3);
    color: #fff;
    height: 350px;

}


.value-box h2{
    text-align: center;
    margin-bottom: 15px !important;
}


.value-box ul{
    padding: 25px 0 0 30px;
    margin: 0;
}
.value-box ul li{
    padding-bottom: 10px;
    font-size: 16px; 
}
.tweet-txt{ padding-bottom:5px; margin-bottom: 5px;}

.map-info-bottom-wrap::after{
    content: "";
    clear: both;
    display: block;
}

.map-info-bottom-wrap >  div:nth-of-type(odd){
    float: left;
    width: 50%;
    margin: 0 0 5px;
}

.map-info-bottom-wrap >  div:nth-of-type(even){
    float: right;
    width: 50%;
    margin: 0 0 5px;
}
.mCSB_container_wrapper > .mCSB_container
{
    padding-right:0px;
}
.mCSB_container_wrapper{
    margin-right:12px;
}
.productbox .bootbox-form .form-control input:after
{
    content: 'Are you at web summit? Spot one of the Profilyser team members and ask for password or reach stand number D-152 in the Downtown Area on Day 3, November 5.';
}
.product-box .modal-body{
 height: 110px;
    padding: 15px;
    position: relative;
}
.product-box .modal-body::before {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: #337AB7;
    content: "Are you at web summit? Spot one of the Profilyser team members and ask for password or reach stand number D-152 in the Downtown Area on Day 3, November 5.";
    display: block;
    font-size: 14px;
    left: 0;
    line-height: 16px;
    padding: 5px 15px 0;
    position: absolute;
    text-align: left;
    top: 55px;
    width: 100%;
    z-index: 999999999;
}
.cms-wrap p{
    background: transparent !important;
}

/* collapsed sidebar styles */
@media screen and (max-width: 767px) {
    .row-offcanvas {
        position: relative;
        -webkit-transition: all 0.25s ease-out;
        -moz-transition: all 0.25s ease-out;
        transition: all 0.25s ease-out;
    }
    .row-offcanvas-right
    .sidebar-offcanvas {
        right: -41.6%;
    }

    .row-offcanvas-left
    .sidebar-offcanvas {
        left: -41.6%;
    }
    .row-offcanvas-right.active {
        right: 41.6%;
    }
    .row-offcanvas-left.active {
        left: 41.6%;
    }
    .sidebar-offcanvas {
        position: absolute;
        top: 0;
        width: 41.6%;
    }
    #sidebar {
        padding-top:0;
    }
}

