<section ng-controller="dashboardController as db" ng-init="db.init()">
    <div ng-include="'./elements/user_topbar.html'"></div>
    <div class="container">
        <div class="row row-offcanvas row-offcanvas-left" style="margin: 0 0 14px;">
            <div ng-include="'./elements/user_sidebar.html'"></div>
            <!-- main area -->
            <div class="col-xs-12 col-sm-9">
                <div class="row">
                    <div class="col-md-8">
                        <div class="form-group col-md-8">
                            <form role="form" name="userdata" ng-submit="db.updateProfile();">
                                <h3>Change Your Password</h3>
                                <br />
                                <label>Enter New Password</label>
                                <input class="form-control" placeholder="Password" ng-model="db.userdata.password" type="password">
                                <br />
                                <button type="submit" class="btn btn-success">Update Profile</button>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- ROW END -->

            </div><!-- /.col-xs-12 main -->
        </div><!--/.row-->
    </div><!--/.container-->
</section>
<script src="js/scripts.js"></script>