<section ng-controller="dashboardController as db" ng-init="db.init()">
    <div ng-include="'./elements/user_topbar.html'"></div>
    <div class="container">
        <div class="row row-offcanvas row-offcanvas-left" style="margin: 0 0 14px;">
            <div ng-include="'./elements/user_sidebar.html'"></div>
            <!-- main area -->
            <div class="col-xs-12 col-sm-9">
                <div class="row">
                    <div class="col-md-4">
                        <img src="{{db.userdata.userimage}}" class="img-rounded img-responsive" ng-if="db.userdata.userimage != ''"/>
                        <br />
                        <br />
                        <label>Name</label><p>{{db.userdata.name}}</p>
                        <label>Email</label><p>{{db.userdata.email}}</p>
                        <label>Address</label><p>{{db.userdata.address}}</p>
                        <label>Phone</label><p>{{db.userdata.phone}}</p>
                        <br /><br/>
                    </div>
                    <div class="col-md-8">
                        <div class="alert alert-info">
                            <h2>User Details : </h2>
                            <h4>{{db.userdata.name}}</h4>
                            <p>
                                {{db.userdata.userDetails}}
                            </p>
                        </div>
                    </div>
                </div>
                <!-- ROW END -->
            </div><!-- /.col-xs-12 main -->
        </div><!--/.row-->
    </div><!--/.container-->
</section>
<script src="js/scripts.js"></script>