
<style type="text/css">
#wrapper { height:100%; width: 100%; margin: 0 0 10px; padding: 0; border: 0; } 
#wrapper td { vertical-align: middle; text-align: center; }
#img1 {
opacity:0;
-moz-animation: anim 3s linear forwards 0s;
-webkit-animation: anim 3s linear forwards 0s;
-o-animation: anim 3s linear forwards 0s;
-ms-animation: anim 3s linear forwards 0s;
animation: anim 3s linear forwards 0s;
}
@-moz-keyframes anim {
0%  {opacity:0;}
100% {opacity:1;}
}
@-webkit-keyframes anim {
0%  {opacity:0;}
100% {opacity:1;}
}
@-o-keyframes anim {
0%  {opacity:0;}
100% {opacity:1;}
}
@-ms-keyframes anim {
0%  {opacity:0;}
100% {opacity:1;}
}
@keyframes anim {
0%  {opacity:0;}
100% {opacity:1;}
}
#cnt {
opacity:0;
-moz-animation: anim 3s linear forwards 0s;
-webkit-animation: anim 3s linear forwards 0s;
-o-animation: anim 3s linear forwards 0s;
-ms-animation: anim 3s linear forwards 0s;
animation: anim 3s linear forwards 0s;
}
@-moz-keyframes anim {
0%  {opacity:0;}
100% {opacity:1;}
}
@-webkit-keyframes anim {
0%  {opacity:0;}
100% {opacity:1;}
}
@-o-keyframes anim {
0%  {opacity:0;}
100% {opacity:1;}
}
@-ms-keyframes anim {
0%  {opacity:0;}
100% {opacity:1;}
}
@keyframes anim {
0%  {opacity:0;}
100% {opacity:1;}
}
</style>
<table id="wrapper">
    <tr>
        <td style="padding:25px 0;">
            <img id="img1" src="images/demo.png" alt="Profilyser"/>
        </td>
    </tr>
    <tr>
        <td id="cnt" style="font-family:Helvetica;font-size:20pt;"></td>
    </tr>
    <tr>
        <td id="cnt" style="font-family:Helvetica;font-size:16pt;color:#B3B3B3;padding:25px 0;">
            <div style="display:block;margin-bottom:25px;">Get a sneak peek</div>
            
            <a href="https://twitter.com/profilyser" target="_blank" style="text-decoration:none">
            <img alt="Twitter" width="49px" height="47px" src="images/Twitter-Icon.png"/>
            </a>
            <a href="https://www.facebook.com/profilyser" target="_blank" style="text-decoration:none">
            <img alt="Facebook" width="49px" height="47px" src="images/Facebook-Icon.png"/>
            </a>
            <a href="https://plus.google.com/118027376685741927007/about?hl=fr" target="_blank" style="text-decoration:none">
            <img alt="Google Plus" width="49px" height="47px" src="images/Googleplus-Icon.png"/>
            </a>
            <a href="https://www.youtube.com/channel/UCYKQzmVYphZddbGKZPoR2Kg" target="_blank" style="text-decoration:none">
            <img alt="Youtube" width="49px" height="47px" src="images/youtube-icon.png"/>
            </a>
        </td>
    </tr>
</table>
<script language="JavaScript">

TargetDate = "11/03/2015 10:00 AM";
BackColor = "white";
ForeColor = "#033B58";
CountActive = true;
CountStepper = -1;
LeadingZero = true;
DisplayFormat = "Demo online in: %%D%%, %%H%%, %%M%% and %%S%%!";
FinishMessage = "Profilyser is up!";


function calcage(secs, num1, num2) {
  s = ((Math.floor(secs/num1))%num2).toString();
  if (LeadingZero && s.length < 2)
    s = "0" + s;
  return s;
}

function CountBack(secs) {
  if (secs < 0) {
    document.getElementById("cntdwn").innerHTML = FinishMessage;
    return;
  }
  t = calcage(secs,86400,100000);
  if(t==0 || t==1){
	DisplayStr = DisplayFormat.replace(/%%D%%/g, "<b><font color=\"#F19023\">" + t + "</font></b> <font color=\"#033B58\">Day</font>");
  }
  else{
	  DisplayStr = DisplayFormat.replace(/%%D%%/g, "<b><font color=\"#F19023\">" + t + "</font></b> <font color=\"#033B58\">Days</font>");
  }
  t = calcage(secs,3600,24);
    if(t==0 || t==1){
	DisplayStr = DisplayStr.replace(/%%H%%/g, "<b><font color=\"#F19023\">" + t + "</font></b> <font color=\"#033B58\">Hour</font>");
  }
  else{
	  DisplayStr = DisplayStr.replace(/%%H%%/g, "<b><font color=\"#F19023\">" + t + "</font></b> <font color=\"#033B58\">Hours</font>");
  }
  t=calcage(secs,60,60);
  if(t==0 || t==1){
	DisplayStr = DisplayStr.replace(/%%M%%/g, "<b><font color=\"#F19023\">" + t + "</font></b> <font color=\"#033B58\">Minute</font>");
  }
  else{
	  DisplayStr = DisplayStr.replace(/%%M%%/g, "<b><font color=\"#F19023\">" + t + "</font></b> <font color=\"#033B58\">Minutes</font>");
  }
t=  calcage(secs,1,60);
  if(t==0 || t==1){
	DisplayStr = DisplayStr.replace(/%%S%%/g, "<b><font color=\"#F19023\">" + t + "</font></b> <font color=\"#033B58\">Second</font>");
  }
  else{
	  DisplayStr = DisplayStr.replace(/%%S%%/g, "<b><font color=\"#F19023\">" + t + "</font></b> <font color=\"#033B58\">Seconds</font>");
  }



  document.getElementById("cntdwn").innerHTML = DisplayStr;
  if (CountActive)
    setTimeout("CountBack(" + (secs+CountStepper) + ")", SetTimeOutPeriod);
}

function putspan(backcolor, forecolor) {
  document.getElementById("cnt").innerHTML = "<span id='cntdwn' style='background-color:" + backcolor + "; color:" + forecolor + "'></span>";
 //document.write("<span id='cntdwn' style='background-color:" + backcolor + "; color:" + forecolor + "'></span>");
}

if (typeof(BackColor)=="undefined")
  BackColor = "white";
if (typeof(ForeColor)=="undefined")
  ForeColor= "black";
if (typeof(TargetDate)=="undefined")
  TargetDate = "12/31/2020 5:00 AM";
if (typeof(DisplayFormat)=="undefined")
  DisplayFormat = "%%D%% Days, %%H%% Hours, %%M%% Minutes, %%S%% Seconds.";
if (typeof(CountActive)=="undefined")
  CountActive = true;
if (typeof(FinishMessage)=="undefined")
  FinishMessage = "";
if (typeof(CountStepper)!="number")
  CountStepper = -1;
if (typeof(LeadingZero)=="undefined")
  LeadingZero = true;


CountStepper = Math.ceil(CountStepper);
if (CountStepper == 0)
  CountActive = false;
var SetTimeOutPeriod = (Math.abs(CountStepper)-1)*1000 + 990;

var dthen = new Date(TargetDate);
var dnow = new Date();
if(CountStepper>0)
  ddiff = new Date(dnow-dthen);
else
  ddiff = new Date(dthen-dnow);
gsecs = Math.floor(ddiff.valueOf()/1000);
setTimeout(function(){ 
    putspan(BackColor, ForeColor);
    CountBack(gsecs);
}, 1000 );

</script>

